<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      All actions for <%= current_user.username %>
    </h1>

  </div>


</div>


<hr>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Date</th>
      <th scope="col">Time</th>
      <th scope="col">Habbit</th>
      <th scope="col">Points</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <% current_user.actions.order("created_at desc").each do |action| %>
      <tr <% if action.points>0 %> class="text-success" <% elsif action.points<0%> class="text-danger" <% end %>>
        <td><%=action.created_at.in_time_zone('Central Time (US & Canada)').to_s.to_date%></td>
        <td><%=action.created_at.in_time_zone('Central Time (US & Canada)').strftime("%I:%M %p")%></td>
        <td><%=action.habbit.description%></td>
        <td><%=action.points%></td>
        <td>
          <a href="/delete_action/<%=action.id%>">
            <span class="badge badge-primary badge-pill">
              delete action
            </span>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <a href="/habbits">
    Return to dashboard      
  </a>
