<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      All actions for <%= current_user.username %>
    </h1>

  </div>
</div>


<hr>

<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>
        <th>
          ID
        </th>

        <th>
          User
        </th>

        <th>
          Habbit
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @actions.each do |action| %>
      <tr>
        <td>
          <%= action.id %>
        </td>

        <td>
          <%= action.user_id %>
        </td>

        <td>
          <%= action.habbit.description %>
        </td>

        <td>
          <%= action.created_at.in_time_zone('Central Time (US & Canada)').to_s.to_date %> ago
        </td>
        <td>
          <%= time_ago_in_words(action.updated_at) %> ago
        </td>

        <td>
          <a href="/actions/<%= action.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
