<!DOCTYPE html>
<html>
  <head>
    <title>FinalProject</title>
    <%= csrf_meta_tags %>

    <!-- Expand the number of characters we can use in the document beyond basic ASCII 🎉 -->
    <meta charset="utf-8">

    <!-- Connect Font Awesome CSS -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.2/css/all.css">

    <!-- Connect Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">

    <!-- Connect Bootstrap JavaScript and its dependencies -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>

    <!-- Make it responsive to small screens -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light mb-4">
      <div class="container">
        <a class="navbar-brand" href="/">
          Karma Bank
        </a>
        
  
<% if current_user.present? %>
<% if current_user.resets.present? %>
<% @points=current_user.actions.where("created_at > ?", current_user.resets.maximum(:created_at)).sum(:points) %>
<% else @points=current_user.actions.sum(:points) %>
<% end %>

        <a class="navbar-brand" href="/">
          Account balance: <%= @points%> 
          <% if @points== "1"%> point 
          <% else %> points 
          <% end %>
        </a>
<% end %>
      


        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsible-nav-links" aria-controls="collapsible-nav-links" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <ul class="navbar-nav">
          <% if current_user.blank? %>
            <li class="nav-item">
              <a href="/users/sign_in" class="nav-link">
                Log in
              </a>
            </li>

            <li class="nav-item">
              <a href="/users/sign_up" class="nav-link">
                Sign up
              </a>
            </li>
          <% else %>
          
          
            <li class="nav-item">
              <a href="/users/edit" class="nav-link">
                <%= current_user.username %>
              </a>
            </li>

            <li class="nav-item">
              <a href="/users/sign_out" data-method="delete" class="nav-link">
                Sign out
              </a>
            </li>
          <% end %>
        </ul>
      </div>
      <!-- .navbar-collapse -->
    </div>
    <!-- .container -->
  </nav>
  
  <div class="container">
    <%= yield %>
  </div>

  <%= dev_tools if Rails.env.development? %>
</body>
</html>
